.summaryContainer {
    background-color: #343a40;
    color: rgb(255, 255, 255);
    padding: 5px;
    border: solid black 1px;
    margin: 5px auto;
    border-radius: 5px;
    width: 85%;
}

.nroResaltado {
    color: rgb(102, 102, 250);
}

